.navbar {
  display: flex;
  padding: 10px 20px;
  border-bottom: 2px solid #000;
  margin-bottom: 24px;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0 50px 0;
  margin: 0 auto;
  max-width: 1080px;
  min-height: 100vh;
}


.content {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.card {
  max-width: 20em;
  white-space: normal;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 12px;
  overflow-wrap: break-word;

  &.fixed {
    width: 14em;
  }
  
  &.centered {
    display: flex;
    justify-items: center;
  }

  h4 {
    margin: 0;
    margin-top: 12px;
  }

  h4:first-child {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}
